// Owl carousel
.owl-carousel {
  margin-top: 68px;
  .owl-item {
    @include media-breakpoint-down(sm) {
      opacity: 0.39;

      &.center {
        opacity: 1;
      }
    }
    
    .item {
      width: 255px;

      @include media-breakpoint-up(lg) {
        width: 380px;
      }
    
      .mask {
        img{
          height: 177px;
          width: 100%;
          object-fit: cover;
          @include media-breakpoint-down(md) {
            height: 96px;
          }
        }
      }
    }
  }

  &.owl-theme {
    .owl-nav.disabled {
      &+.owl-dots {
        margin-top: 54px;
        display: flex;
        justify-content: center;
        align-items: center;

        .owl-dot {
          span {
            width: 8px;
            height: 8px;
            background: $wm-text-input-color;
            margin: 4px;
          }
          &.active {
            span {
              width: 12px;
              height: 12px;
              background: $brand-color;
            }
          }
        }
      }
    }
  }
}


// Bootstrap carousel
.carousel-indicators {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
  bottom: 90px;
  li {
    width: 8px;
    height: 8px;
    background: $wm-text-input-color;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;
    &.active {
      width: 12px;
      height: 12px;
      background: $brand-color;
    }
  }
}