.card {

  .card-description-title {
    font-weight: 300;
    line-height: normal;
    padding-bottom: 91px;
  }

  .rate-star {
    display: flex;
    padding-bottom: 7px;

    .star {
      width: 15.4px;
      height: 15px;
      color: $wm-text-input-color;
    }

    .rate-review {
      margin-left:5px;
      font-size: 12px;
      font-weight: 300;
      color: $wm-text-dark-color;
    }
  }

  .location-section {
    display: flex;
    @extend .card-text-14;
    line-height: 1.29;

    .location-icon {
      display: inline-block;

      i {
        font-size: 14px;
      }
    }

    .location-supplier {
      address {
        display: inline;
      }
    }
  }
}



.supplier-carousel-card {
  text-align: center;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.05);
  border-color: $card-border-color;
  @include card-border-radius;

  .mask {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      //background-color: rgba(0, 0, 0, 0.4);
    }
  }
  .card-logo {
    width: 89px !important;
    height: 89px;
    @include card-border-radius;
    margin: -46px auto 0 auto;
  }

  .card-body {
    padding: 24px 0 19px 0;

    .card-title {
      @extend .h6;
      margin-bottom: 11px;
    }

    .rate-star {
      justify-content: center;
      cursor: default;
    }

    .rate-reviews {
      font-size: 12px;
      font-weight: 300;
      color: $wm-text-dark-color;
    }
  }

  .card-footer {
    border-color: #e8e8e8;
    background-color: #ffffff;
    padding: 19px 33px 23px 25px;
  }
}


.search-result-card {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);

  .count-number {
    position: absolute;
    left: 8px;
    top: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: $brand-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 11;

    span {
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
    }
  }

  .card-body {
    padding: 20px 15px;

    .card-image {
      max-width: 93px;

      img {
        border-radius: 3px;
      }

      .card-badge {
        display: block;
        font-size: 12px;
        line-height: 1.67;
        font-weight: 600;
        padding: 3px 11.5px 3px 10px;
        border:none;
        margin-top: 14px;
        color: #fff;
        border-radius: 13px;
        background-color: $brand-color;

        .check-mark {
          width: 12px;
          height: 9px;
          display: inline-block;
          background: url("../img/check-mark.svg") center center/contain no-repeat ;
          background-size: auto;
        }
      }
    }

    .search-description {
      padding-left: 13px;

      .card-description-title {
        @extend .h7;
        font-weight: 600;
      }
    }
  }

  .card-list {
    border-left: 1px solid #d8d8d8;
    padding-left: 18px;
    padding-right: 0;

    // collapsing styles
    .collapse-show-lg {
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    .collapse-link {
      display: flex;
      justify-content: center;
      border-top: 1px solid #d8d8d8;
      color: #d8d8d8;
      font-size: 20px;

      &:hover {
        text-decoration: none;
      }
    }


    .title-list {
      display: block;
      padding-bottom: 10px;
      color: $brand-color;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
    }

    ul {
      @extend .card-text-14;
    }
  }

  .card-footer {
    @extend .card-text-14;
    font-weight: 500;
    color: $wm-text-dark-color;
    border-top: none;

    span {
      font-weight: 600;
      margin-left: 11px;
    }
  }

  @include media-breakpoint-down(sm) {
    .card-body {
      padding-bottom: 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .card-list {
          padding-left: 0;
          margin-top: 0;
          padding-top: 0;
          border-left: none;

          .collapse-link {

            i {
              padding-top: 13px;
              padding-bottom: 13px;
              color: $wm-text-input-color;
            }

            .down {
              display: none;
            }

            .up {
              display: block;
            }

            &.collapsed {
              .up {
                display: none;
              }

              .down {
                display: block;
              }
            }
          }

          .title-list {
            text-align: center;
            padding-bottom: 15px;
          }

          ul {
            margin: 0  15px 18px;
          }
        }
      }
    }

    .card-footer {
      display: none;
    }
  }
}


.supplier-map-card {
  max-width: 490px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.24);

  .card-body {

    .supplier-description-content {
      display: inline-flex;
      flex-wrap: wrap;

      @include media-breakpoint-up(sm) {
        flex-wrap: nowrap;
      }

      .card-image {
        border-radius: 3px;
      }

      .supplier-description {
        padding-left: 18px;
      }
    }
  }

  .working-time {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: $brand-color;
    border-radius: 3px;
    background-color: rgba(14, 139, 71, 0.1);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 22px;
    margin-bottom: 13px;

    img {
      padding-left: 13px;
    }

    span {
      padding-left: 5px;
    }
  }

  table {
    @extend .card-text-14;
    line-height: 2.5;
    margin-bottom: 0;

    td:nth-child(odd){
      color: $wm-text-input-color;
      padding: 0;
    }

    td:nth-child(even) {
      font-weight: 600;
      color: #000;
      padding: 0;
      text-align: right;
    }
  }

  @include media-breakpoint-down(sm) {
    .card-body {
      padding: 0 22px 15px 22px;

      .supplier-description-content {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        .card-image {
          justify-content: center;
          margin-top: -35px;
          margin-bottom: 26px;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.17);

          img {
            width: 74px;
            height: 74px;
          }
        }

        .supplier-description {
          .card-description-title {
            text-align: center;
            font-size: 24px;
            font-weight: 300;
          }

          .rate-star {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

}

