.checkout-section {
  margin-top: 70px;

  .title-row {
    align-items: center;
    margin-bottom: 30px;
    h3 {
      color: $wm-text-dark-color;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      a {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 500;
      }
    }
  }
}


.checkout-form {
  padding-right: 15px;
}


.credit-card-info {
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  padding: 35px;

  .credit-card-header, .credit-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .credit-card-header {
    margin-bottom: 28px;
  }

  .credit-card-footer {
    background-color: #f1f1f1;
    padding: 28px 35px;
    margin: 20px -35px -35px;
  }
}
