html {
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400
}

// typography

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7 .h8 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: $wm-text-dark-color;
  margin: 0;
}

h1, .h1 {
  font-size: 40px;
  color: $wm-text-darker-color;
}

h2, .h2 {
  font-size: 37px;
  color: $wm-text-darker-color;
}

h3, .h3 {
  font-size: 30px;
  color: $wm-text-darker-color;
}

h4, .h4 {
  font-size: 25px;
  color: $wm-text-darker-color;
}

h5, .h5 {
  font-size: 23px;
  line-height: 1.61;
}

h6, .h6 {
  font-size: 19px;
}

.h7 {
  font-size: 17px;
}


.h8 {
  font-size: 15px;
}

p, .card-text-14 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: $wm-text-input-color;
  margin: 0;
}

.text-14 {
  font-size: 14px;
  line-height: 1.65;
}

.text-14-bold {
  font-size: 14px;
  font-weight: 600;
  color: $wm-text-dark-color;
}

.brand {
  color: $brand-color;
}

.text-carousel-title {
  margin-top: 50px;
  margin-bottom: 20px;
}

.wm-light-text {
  color: $wm-text-color;
}

.h2-general {
  font-size: 40px;
  line-height: 1.48;
}

.h2-brand {
  @extend .h2-general;
  color: $brand-color;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

// common link styles

a {
  color: $wm-link-color;
  &:hover, &:focus {
    color: $wm-link-hover-color;
    text-decoration: none;
  }

  &.wm-green-link {
    color: $brand-color;
    font-weight: 600;
    line-height: 1.67;
    &:hover, &:focus {
      color: $brand-color;
      text-decoration: underline;
    }
  }
}

.flex-1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.container {
  @include media-breakpoint-up(lg) {
    max-width: $container-lg-max-width !important;
  }

}

.sticky-footer {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
  }
}
