.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  position: relative;
  background-image: url("../img/cannabis-2152604-1920.jpg");

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .btn-success {
    font-size: 18px;
    min-width: 143px;
  }

  h2 {
    color: #fff;
    margin-top: 19px;
    line-height: 0.93;
    font-size: 40px;
  }

}

.middle-section {
  justify-content: space-between;
  margin-top: 20px;

  .option-box {
    max-width: 220px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.39);
    border: 1px solid #e8e8e8;
    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }

    img {
      margin-top: 36px;
      margin-bottom: 29px;
    }

    span {
      font-size: 18px;
      line-height: 1.28;
      padding-bottom: 25px;
    }
  }

  .active-box {
    position: relative;
    background: #fff;
    border: 1px solid $brand-color;

    &::after, &::before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 15px;
      margin-left: -15px;
    }

    &::before {
      border-color: rgba(0, 0, 0, 0);
      border-top-color: $brand-color;
      border-width: 16px;
      margin-left: -16px;
    }

    span {
      font-weight: 600;
      color: $brand-color;
    }
  }
}

.bottom-section {
  padding-top: 65px;

  .title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    border-bottom: solid 1px #ebebeb;
  }

  .contact-form {
    margin: 0 auto;
    max-width: 575px;
    padding-top: 47px;
  }
}



