footer {

  .footer-top-section {
    padding-top: 47px;
    padding-bottom: 50px;
    @include media-breakpoint-down(md) {
      padding-top: 27px;
      padding-bottom: 27px;
    }

    .subscribe-container {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        h4 {
          font-size: 19px;
          padding: 5px 0;
        }
      }
      @include media-breakpoint-down(sm) {
        padding-bottom: 12px;
      }
    }

    div input {
      margin-right: 11px;
    }

    @include media-breakpoint-down(md) {

      form {
        input {
          font-size: 13px;
          padding: 15px 0 15px 23px;
        }

        .btn-success {
          font-size: 14px;
          border-radius: 25px;
          padding: 15px;
        }
      }
    }
  }

  .separator {
    position:relative;
  }
  .separator {
    &:before {
      content:'';
      position:absolute;
      width:100%;
      height:30px;
      background:linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
      opacity: 0.05;
      top:-30px;
      left:0;
    }
  }




  .footer-medium-section {
    &.with-border-top {
      border-top: 1px solid #e5e5e5;
    }

    hr {
      background-color: #d9d9d9;
    }

    .row {
      align-items: center;
      justify-content: space-between;
      padding: 21px 0;

      @include media-breakpoint-down(sm) {
        align-items: flex-start;
        padding: 11px 0 20px 0;
        .footer-logo {
          padding-top: 15px;
        }
      }

      ul {
        @include media-breakpoint-down(sm) {
          columns: 2;
        }

        li {
          margin-left: 40px;
          font-weight: 500;

          @include media-breakpoint-only(md) {
            margin-left: 20px;
          }

          @include media-breakpoint-down(sm) {
            margin-left: 0;
            line-height: 1.92;
          }
        }

        li.fake-menu-item {
          display: none;

          @include media-breakpoint-down(sm) {
            @include invisible(hidden);
            display: block;
          }
        }
      }



      .menu-list {
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        line-height: 2.73;
        @include media-breakpoint-down(sm) {
          text-align: left;
          font-size: 13px;
          line-height: 1.92;

          .column-left {
            flex-direction: column;
            flex: 65%;
          }

          .column-right {
            flex-direction: column;
            flex: 35%;
          }
        }

        .column-left, .column-right {
          display: flex;

          span {
            display: block;
            margin-right: 20px;
          }
        }

        .column-right span:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
  }
}

.footer-bottom-section {
  background-color: $wm-footer-background-color;

  .row {
    align-items: center;
    padding: 10px 0 14px 0;
    @include media-breakpoint-down(md) {
      padding: 22px 0 11px 0;
    }

    .copyright-section {
      @include media-breakpoint-down(md) {
        order: 2;
        text-align: center;
        line-height: 3.73;
      }
    }

    ul {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        justify-content: center;
      }

      &.copyright {
        li {
          font-size: 12px;
          font-weight: 500;
          line-height: 3.42;
          color: $wm-text-input-color;
          margin-bottom: 0;
          @include media-breakpoint-down(md) {
            font-size: 11px;
          }

          a {
            display: inline-block;
            color: $wm-text-input-color;
          }

          span {
            padding: 0 10px;
            @include media-breakpoint-down(md) {
              padding: 0 5px;
            }
          }
        }
      }

      &.social-list {
        justify-content: flex-end;
        @include media-breakpoint-down(md) {
          order: 1;
          padding-bottom: 17px;
          justify-content: center;
        }

        li {
          &:not(:last-child) {
            margin-right: 20px;
          }

          a {
            display: block;
            opacity: 0.38;
            transition: all 0.3s;
            &:hover, &:focus {
              opacity: 1;
            }
          }
        }
      }
    }
  }

}


