// Buttons
.btn {
  font: normal 600 15px/normal 'Poppins', sans-serif;
  &:focus, &:active, &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}

.btn-lg {
  font-size: 17px;
  border-radius: $wm-form-control-radius-lg;
  padding: 16px 28px;
}

.btn-md {
  font-size: 16px;
  padding: 14px 26px;
  border-radius: 27.5px;
}

.btn-round {
  border-radius: $wm-form-control-radius;
  min-width: 105px;
}

.btn-light {
  color: $wm-light-btn-color;
  background-color: #fff;
  border-color: #979797;
  &:hover {
    border-color: #979797;
  }
}

.btn-light-green {
  @extend .btn-light;
  color: $brand-color;
  border-color: #dadada;
  &:hover {
    border-color: #dadada;
    color: $brand-color;
  }
}

.btn-success {
  background-color: $brand-color;
  border-color: transparent;
}

.btn-white {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border: 1px solid  $wm-component-border-color;
  font-size: 14px;
  color: $brand-color;
  padding: 14px 0;
}



.form-control-lg {
  border-radius: $wm-form-control-radius-lg;
  font-size: 17px;
  color: $wm-text-input-color;
  padding: 16px 54px 16px 37px;
}


.input-group-search {
  border-radius: $wm-form-control-radius;
  background-color: #ffffff;
  @include wm-input-border;
  @include wm-input-shadow;
  padding-right: 2px;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 338px;

  .form-control {
    border: none;
    border-radius: $wm-form-control-radius;
  }

  .input-group-addon {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    & > a {
      line-height: 100%;
      color: #000;
      opacity: .31;
      &:hover {
        opacity: .81;
      }
    }
  }
}

.input-group-search-lg {
  @extend .input-group-search;
  max-width: 100%;
  padding-right: 0;
  margin: 15px 0;
  border-radius: $wm-form-control-radius-lg;
  @include media-breakpoint-up(lg) {
    margin-top: 76px;
  }
  .btn-success {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    span {
      margin-right: 8px;
    }
  }
  .form-control {
    @extend .form-control-lg;
    padding-right: 0;
  }
}

.btn-search {
  border-radius: 50%;
  padding: 6px 7px 7px 6px;
  width: 37px;
  height: 37px;
  color: #fff;
  background-color: $brand-color;
  border-color: transparent;
  text-align: center;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}


// custom checkboxes

.checkbox-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    margin-bottom: 0 !important;
  }

  .checkbox-container {
    margin-left: 15px;
  }
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 18px;
  width: 18px;

  &:hover input ~ .checkmark {
    // TODO
  }

  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $wm-text-dark-color;
    margin-bottom: 0;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 4.5px;
      top: 0;
      width: 7px;
      height: 11px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(43deg);
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ .checkmark {
    background-color: $wm-text-dark-color;

    &:after {
      display: block;
    }
  }
}

// Radio buttons
input[type=radio] {
  display: none;
}

.radio {
  label {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.72;
    cursor: pointer;
    transition: all 0.3s;

    span {
      width: 18px;
      height: 18px;
      display: block;
      border-radius: 50%;
      border: 1px solid $checkbox-border-color;
      margin-right: 27px;
      transition: all 0.3s;
    }
  }

  input:checked + label {
    color: $brand-color;
    span {
      border: 6px solid $brand-color;
    }
  }
}


// Selectize sort dwopdown
.sort-selectbox.selectize-control {
  font-size: 14px;
  text-align: center;
  color: $wm-text-input-color;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
  @include wm-input-shadow;
  @include wm-input-border;
  @include wm-input-radius;

  .selectize-input {
    border: none;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    position: static;
    color: $wm-text-input-color;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    @include wm-input-radius;

    &:after {
      border-color: $wm-text-input-color transparent transparent transparent;
    }

    &.focus {
      box-shadow: none;
    }

    &.input-active {
      display: flex;

      &:hover {
        cursor: pointer;
      }
    }

    &.dropdown-active:after {
      border-color: transparent transparent $wm-text-input-color transparent;
    }
  }

  .selectize-dropdown {
    margin-top: 8px;

    .selectize-dropdown-content {
      padding: 12px 18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 2.53;

      .option {
        width: 100%;
        text-align: left;
        padding: 0 auto 0 0;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;

        color: $wm-text-dark-color;

        &.active {
          background-color: #fff;
          color: $brand-color
        }
      }
    }
  }
}

// Sort dropdown
.sort-dropdown {
  a.dropdown-toggle {
    width: 100%;
    display: flex;
    padding: 9px 25px;
    align-items: center;
    font-size: 14px;
    color: $wm-text-input-color;
    font-weight: 600;
    @include wm-input-shadow;
    @include wm-input-border;
    @include wm-input-radius;
    @include media-breakpoint-down(md) {
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      border: 1px solid #e4e4e4;
      padding-top: 14px;
      padding-bottom: 14px;
      margin-left: 3px;
    }

    &:after {
      margin-left: auto;
    }
  }

  .dropdown-menu {
    margin-top: 8px;
    border-radius: 3px;
    border-color: transparent;
    @include wm-dropdown-shadow;
    & > li:hover {
      color: $brand-color;
    }
  }

}

// Input Search by name
.input-group-search-filters {
  width: auto;
  border-bottom: 1px solid #e7e7e7;
  @include wm-input-shadow;
  display: flex;
  align-items: center;
  input.form-control {
    border: none;
    border-radius: 0;
  }
  a {
    color: $wm-text-input-color;
    padding-top: 5px;
    i {
      font-size: 20px;
    }
  }
}

// General styles for form
.form {
  font-weight: 500;
  color: $wm-text-dark-color;

  .form-group {
    margin-bottom: 17px;
  }

  label {
    margin-bottom: 14px;
  }

  input {
    padding: 14px 18px;
  }

  .form-subtitle {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    color: $wm-text-dark-color;
    padding-bottom: 15px;
    margin: 30px 0;
    border-bottom: 1px solid #ebebeb;

    img {
      margin-right: 15px;
    }
  }

}
