header {
  position: relative;
  z-index: 100;

  &.header-shadowed {
    @include navbar-shadow;
  }

  .navbar {
    padding: 30px 0 32px 0;
    flex-wrap: nowrap;
    position: static;
    .navbar-nav {
      flex-direction: row;
      flex: 1;
      .dropdown-menu {
        @include wm-popover-container;
        @include media-breakpoint-up(lg) {
          margin-top: 24px;
          left: 50%;
          transform: translateX(-50%);
        }
        @include media-breakpoint-down(md) {
          //border-top: none;
          border-radius: 0;
          left: auto;
          right: 0;
        }
      }
    }

    %header-form-control {
      height: $header-fc-height;
      font-weight: 600;
    }

    .btn-round {
      @extend %header-form-control;
    }

    .input-group {
      @extend %header-form-control;
    }

    .log-in-block {
      display: flex;
      flex-flow: row nowrap;
      &-inline {
        margin-left: 15px;
        .btn-round:not(:first-of-type) {
          margin-left: 3px;
        }
        .btn {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      &-indropdown {
        display: block;
        .btn {
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
        .btn-light {
          @include media-breakpoint-down(md) {
            margin-top: 24px;
          }
        }
      }

    }

    .input-group-search {
      flex-basis: 338px;
      min-width: 186px;
      flex-shrink: 1;
      @include media-breakpoint-up(md) {
        margin-left: 39px;
      }
      .input-group-addon {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .btn-search {
        @include media-breakpoint-down(md) {
          color: $brand-color;
          background-color: white;
        }
      }
    }

    .form-control {
      height: 100%;
    }

    .header-right-block {
      display: flex;
      align-items: center;
    }

    .shopping-cart {
      margin-left: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        margin-left: 15px;
        position: static;
      }

      .shopping-cart-icon {
        //margin-top: 7px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        transition: all 0.3s;
        &:hover, &:focus {
          border-radius: 3px;
          background-color: #e5e5e5;;
          text-decoration: none;
          color: #000;
        }
        .cart-value {
          display: block;
          top: 3px;
          left: 50%;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: $brand-color;
          text-align: center;
          color: #fff;
          font-size: 10px;
          line-height: 16px;
          position: absolute;
        }
      }

    }

    .wm-menu {
      margin-left: 30px;
      @include media-breakpoint-down(md) {
        margin-left: 15px;
        position: static;
      }
      &-user {
        @include media-breakpoint-down(md) {
          display: none;
        }
        .user-name {
          color: #4a4a4a;
          font-weight: 600;
          margin-right: 15px;
        }
      }

      .wm-menu-icon {
        display: flex;
        align-items: center;
        padding: 10px;
        transition: all 0.3s;
        &:hover, &:focus {
          border-radius: 3px;
          background-color: #e5e5e5;;
          text-decoration: none;
        }
      }

      .dropdown-menu {
        padding: 21px;
        min-width: 208px;

        .dropdown-item {
          padding: 0;
          font-weight: 500;
          line-height: 2.73;
          &:hover, &:active {
            background-color: #fff;
            color: $brand-color;
          }
        }

        .user-info-block {
          display: none;
          border-top: 1px solid red;

          @include media-breakpoint-down(md) {
            display: block;
            padding: 21px;
            margin: 10px -21px -21px;
            background-color: #e5e5e5;
          }

          .user {
            margin: 0 -21px 15px -21px;
            padding-bottom: 10px;
            padding-left: 21px;
            border-bottom: 1px solid red;
          }

          .dropdown-item {
            &:hover, &:active {
              background-color: #e5e5e5;
            }
          }
          .user-name {
            color: #4a4a4a;
            text-transform: uppercase;
            margin-left: 10px;
            font-weight: 500;
            font-size: 14px;
          }
        }

      }
    }
  }
}
