@mixin navbar-shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

@mixin navbar-border {
  border: solid 1px #e5e5e5;
}

@mixin popover-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@mixin popover-border {
  border: $wm-popover-border;
}

@mixin card-seperator {
  border-bottom: 1px solid #e2e2e2;
}

@mixin card-border-radius {
  border-radius: 3px;
}

@mixin wm-input-border {
  border: 1px solid #e7e7e7;
}

@mixin wm-input-radius {
  border-radius: 30px;
}

@mixin wm-input-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

@mixin wm-logo-shadow {
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.14);
}

@mixin wm-dropdown-shadow {
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.31);
}

@mixin wm-popover-container {
  @include popover-border;
  @include popover-shadow;
  position: absolute !important;
  color: $wm-text-dark-color;
  &:before {
    @include media-breakpoint-up(lg) {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: $wm-popover-arrow-size;
      height: $wm-popover-arrow-size;
      left: 50%;
      border-left: $wm-popover-border;
      border-top: $wm-popover-border;
      transform: rotate(45deg) translateX(calc(-50% - #{$wm-popover-arrow-size} * 0.41 / 2));
      background-color: #fff;
    }
  }
}