.my_details{
    .div_payment_details{
        h6{
          font-family: Poppins;
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #4a4a4a;
        }
        .credit_debit_cards{
            border: solid 1px #e6e6e6;
            .col_cards{
                border-radius: 2px;
                background-color: #f1f1f1;
            }
            span{
              font-family: Poppins;
              font-size: 16px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.94;
              letter-spacing: normal;
              text-align: left;
              color: #4a4a4a; 
            }
            ul li{
              font-family: Poppins;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.94;
              letter-spacing: normal;
              text-align: left;
              color: #4a4a4a;
                margin-left: 15px;
            }
            .li-active{
              font-family: Poppins;
              font-size: 16px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.94;
              letter-spacing: normal;
              text-align: left;
              color: #6c6c6c;
            }
            a{
              font-family: Poppins;
              font-size: 18px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.72;
              letter-spacing: normal;
              text-align: left;
              color: #0e8b47;
            }
            .click_edit_delete{
                border-top: solid 1px #e6e6e6;
            }
        }
    }
}