.my_details{
    .container-fluid{
        border: solid 1px #e0e0e0;
    }
    h2 {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #4a4a4a;
    }
    .div_details{
        .link_details{
            font-family: Poppins;
            font-size: 19px;
            font-weight: 500;
           font-style: normal;
           font-stretch: normal;
           line-height: 2.16;
           letter-spacing: normal;
           text-align: left;
           color: #9b9b9b;
        }
        .link_payment{
            font-family: Poppins;
            font-size: 19px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.16;
            letter-spacing: normal;
            text-align: left;
            color: #9b9b9b;
        }
        .active_link_payment{
        color: #0e8b47!important;
        border-bottom:2px solid #0e8b47;
    }
    }
    .profile_picture{
        border-radius: 3px;
        background-color: #f3f3f3;
        border: solid 1px #e5e5e5;
        .media {
            img{
                width: 76px;
                height: 70px;
            }
            .media-body{
                h6{
                    font-family: Poppins;
                    font-size: 15px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #4a4a4a;
                }
                span{
                  font-family: Poppins;
                  font-size: 15px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: left;
                  color: #4a4a4a;
                }
                a {
                  font-family: Poppins;
                  font-size: 15px;
                  font-weight: 600;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: left;
                  color: #0e8b47!important;
                  color: var(--dark-sea-green);
                    display: block;
                }
            }
        }
    }
    
    .div_btn_details{
       .btn_details{
            font-family: Poppins;
              font-size: 16px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
              border-radius: 27.5px;
              background-color: #0e8b47;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
           padding: 12px;
           width: 240px;
        } 
    }
    
}