@mixin get-map-width {
  @each $br, $width in $container-max-widths {
    $allowed-keys: (md: 1, lg :1);
    @if map_has_key($allowed-keys, $br) {
      @if $br == lg {
        @include media-breakpoint-up($br) {
          width: calc(100% + (100vw - #{$container-lg-max-width})/2);
        }
      } @else {
        @include media-breakpoint-up($br) {
          width: calc(100% + (100vw - #{$width})/2);
        }
      }

    }

  }
}


.search-result-section {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  .search-result-header {
    margin: 34px 0;
  }

  .filters-wrapper {
    @include navbar-shadow;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #e5e5e5;

    .filters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 20px;
      padding-top: 34px;

      .filters-list {
        display: flex;
        @include media-breakpoint-down(md) {
          width: 100%;
          justify-content: space-between;
        }

        .filter-item {
          font-size: 14px;
          font-weight: 600;
          color: $wm-text-dark-color;
          margin-right: 40px;

          @include media-breakpoint-down(md) {
            font-size: 12px;
            margin-right: auto;
          }

          p {
            font-weight: 600;
          }

          //  Dropdown styles
          .dropdown {
            .dropdown-toggle {
              transition: color 0.3s;
              &:hover, &:focus {
                color: $brand-color;
              }
              &:after {
                  margin-left: 7px;
              }
            }

            .dropdown-menu {
              min-width: 283px;
              background-color: #ffffff;
              box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
              border-radius: 0;
              border-top: none;
              margin-top: 29px;
              z-index: -1;

              .dropdown-item {
                color: $wm-text-dark-color;

                &:hover, &:active {
                  background-color: #fff;
                  color: $brand-color;
                }

                label {
                  cursor: pointer;
                }
              }

            }
          }
        }
      }
    }
  }

  .items-list-wrapper {
    display: flex;
    flex: 1;

    .row {
      flex: 1;

      .search-results {
        overflow-y: auto;
      }

      .map-container {
        position: relative;

        .map {
          position: absolute;
          background-color: #00A8E6;
          top: 0;
          left: 0;
          bottom: 0;
          @include get-map-width;
        }

      }

    }

  }

}
