.supplier-map-section {
  min-height: 438px;
  background-color: green;
}

.supplier-name-section {
  @include media-breakpoint-up(md) {
    margin: -402px 0 36px 0;
  }
  @include media-breakpoint-down(sm) {
    margin: -202px 0 15px 0;
  }
}

.tabs-section-navigation {
  @include navbar-shadow;
  border-bottom: solid 1px #e5e5e5;;
}

.tabs-section-content h4.brand {
  padding: 40px 0;
}

.dropdown-more {
  .dropdown-toggle {
    display: block;
    padding: 27px 0;
    font-size: 14px;
    font-weight: 600;
    color: $wm-text-color;
    &:hover, &:focus {
      color: $wm-text-dark-color;
    }
    &:after {
      border: 0;
      background-image: url('../img/more-icon.svg');
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  }
}

.filter-section {
  @include media-breakpoint-down(md) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    height: 100vh;
  }
}


.filter-collapse-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: $wm-text-color;
  font-size: 13px;
  font-family: 'CircularStd';
  padding-bottom: 16px;
}

.filter-collapse-item {
  border-bottom: 1px solid #dadada;
  padding-bottom: 15px;
  &:not(:first-of-type) {
    padding-top: 20px ;
  }
  .input-group-search-filters {
    box-shadow: none;
    border: none;
    input {
      font-size: 14px;
      padding-left: 0;
    }
  }

  .checkbox-item {
    line-height: 2.01;
    color: $wm-text-dark-color;
    margin-right: 6px;
  }
}

.product-name {
  margin-bottom: 20px;
}


.products-info-block {
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-bottom: 31px;
  .products-info {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px;
    .product-image{
      margin-right: 15px;
    }
    .product-percent {
      font-size: 15px;
      padding-top: 10px;
    }
  }
}

.table-product-price {
  margin: 0;

  tbody tr {
    &:first-of-type {
      @include media-breakpoint-down(md) {
        border-top: 1px solid #dedede;
      }
    }
    &:nth-child(even) {
      background-color: $brand-6-color;
    }

    td {
      border: 0;
      font-weight: 600;
      text-align: right;
      &:first-of-type {
        @include media-breakpoint-up(lg) {
            border-left: 1px solid #dedede;
        }
      }
      .wm-light-text {
        font-size: 14px;
      }
      @include media-breakpoint-down(md) {
        font-size: 12px;
        .wm-light-text {
          font-size: 12px;
        }
      }

      .add-product-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }

    }

  }
}
