.nav-tabs {
  border-bottom: none;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;

  .nav-link {
    border-radius: 0;
    border: none;
    padding: 27px;
    color: $wm-text-color;
    font-size: 14px;
    font-weight: 600;

    &.active, &:hover, &:focus {
      color: $wm-text-dark-color;
      border-bottom:3px solid $brand-color;
    }
  }
}
