
// Base colors
$brand-color: #0e8b47;
$brand-6-color: rgba($brand-color, 0.06);
$wm-component-border-color: #e4e4e4;

$wm-footer-background-color: #f6f6f6;

$wm-text-color: #8b8d9c;
$wm-text-input-color: #9b9b9b;
$wm-text-dark-color: #4a4a4a;
$wm-text-darker-color: #333333;

$checkbox-border-color: #979797;

$wm-link-color: #000;
$wm-link-hover-color: $wm-text-dark-color;
$wm-light-btn-color:  #1e1e1e;

$wm-active-icon-color: #f8e71c;

$card-border-color: #eeeeee;

  // form control sizes

$header-fc-height: 43px;
$wm-form-control-radius: 25.5px;
$wm-form-control-radius-lg: 30px;

$wm-popover-border: 1px solid $wm-component-border-color;
$wm-popover-arrow-size: 24px;
$container-lg-max-width: 970px;
