<header {% if not withoutShadow %} class="header-shadowed" {% endif %}>
  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand" href="#" title="Weedmenu Logo">

        {% if homePageHeader %}
          <img class="img-fluid" src="img/weedmenu-top-logo.svg" width="207" height="38" alt="Weedmenu Logo" title="Weedmenu Logo">
        {% endif %}

        {% if not homePageHeader %}
          <img class="d-none d-lg-block d-xl-block img-fluid" src="img/weedmenu-top-logo.svg" width="207" height="38" alt="Weedmenu Logo" title="Weedmenu Logo">
          <img class="d-sm-block d-md-block d-lg-none"  src="img/weedmenu-logo.svg" width="38" height="27" alt="Weedmenu Logo" title="Weedmenu Logo">
        {% endif %}

      </a>

      <div class="navbar-nav">

        {% if loggedIn %}
          <div class="input-group input-group-search">
            <input type="text" class="form-control" placeholder="California">
            <span class="input-group-addon">
              <a href="#">
                <i class="material-icons">my_location</i>
              </a>

            </span>
            <button class="btn btn-search" type="submit">
              <i class="material-icons">search</i>
            </button>
          </div>
        {% endif %}

        <div class="ml-auto header-right-block">

          <div class="dropdown wm-menu">
            <a href="#" class="wm-menu-icon" id="wm-menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">menu</i>
            </a>

            <div class="dropdown-menu" aria-labelledby="wm-menu-dropdown">
              <a class="dropdown-item" href="#">Home</a>
              <a class="dropdown-item" href="#">Browse Providers</a>
              <a class="dropdown-item" href="#">Contact</a>

              <div class="user-info-block">
                <div class="user d-flex align-items-center">
                  <img src="http://via.placeholder.com/34x34" class="rounded-circle" width="34" height="34" alt="User image">
                  <span class="user-name">Kevin Stewart</span>
                </div>

                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="#">My Details</a>
                <a class="dropdown-item" href="#">My Menu</a>
                <a class="dropdown-item" href="#">Log Out</a>
              </div>

              <div class="log-in-block log-in-block-indropdown">
                <button class="btn btn-round btn-light btn-block" type="button">Login</button>
                <button class="btn btn-round btn-success btn-block {% if homePageHeader %} d-none {% endif %}" type="button">Signup</button>
              </div>
            </div>
          </div>

          {% if not loggedIn %}
            <div class="log-in-block log-in-block-inline">
              <button class="btn btn-round btn-light" type="button">Login</button>
              <button class="btn btn-round btn-success {% if homePageHeader %} d-block d-sm-block {% endif %}" type="button">Signup</button>
            </div>
          {% endif %}

          {% if loggedIn %}
            <div class="dropdown wm-menu wm-menu-user">
              <a href="#" class="" id="wm-menu-dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="user-name">Kevin</span>
                <img src="http://via.placeholder.com/34x34" class="rounded-circle" width="34" height="34" alt="User image">
              </a>
              <div class="dropdown-menu" aria-labelledby="wm-menu-dropdown-user">
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="#">My Details</a>
                <a class="dropdown-item" href="#">My Menu</a>
                <a class="dropdown-item" href="#">Log Out</a>
              </div>
            </div>

            <div class="dropdown shopping-cart">
              <a href="#" class="shopping-cart-icon" id="wm-shopping-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">shopping_cart</i>
                <span class="cart-value">1</span>
              </a>

              {% include 'partials/shopping-cart.html' %}
            </div>
          {% endif %}

        </div>

      </div>
    </nav>
  </div>
</header>
