<div class="dropdown-menu shopping-cart-popover" aria-labelledby="wm-shopping-cart">
  <div class="cart-header">
    <span class="order-from">
      Your Order From
    </span>
    <span class="card-title">
      Name Of Supplier
    </span>
  </div>

  <div class="cart-item">
      <div class="product-image-block">
        <img class="img-fluid" src="http://via.placeholder.com/52x52" alt="product 1">
      </div>
      <div class="product-info">
        <span class="cart-product-name h8">
          1 x Name Of Product
        </span>
        <span class="cart-product-kind">
          Product Kind
        </span>
        <span class="cart-doze">
          1/4 Gram
        </span>
        <a href="#" class="cart-remove wm-green-link">Remove</a>
      </div>
      <div class="product-price">
        <span class="price cart-value">
          $50
        </span>
      </div>
  </div>

  <div class="cart-footer">
    <div class="subtotal">
      <span class="cart-light-title">
        Subtotal
      </span>
      <span class="cart-value">$40</span>
    </div>
    <div class="vat">
      <span class="cart-light-title">
        VAT
      </span>
      <span class="cart-value">$10.00</span>
    </div>
    <div class="total">
      <span class="cart-dark-title">
        Total
      </span>
      <span class="cart-value">
        $50.00
      </span>
    </div>

    <button class="btn btn-block btn-round btn-success" type="button">Order For Deliver</button>
    <button class="btn btn-block btn-round btn-light-green" type="button">Order For Pick Up</button>

  </div>

</div>