{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="checkout-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Page title -->
        <div class="row no-gutters title-row">
          <div class="col">
            <h3>Checkout</h3>
          </div>
          <div class="col text-right">
            <p class="">
              <span>Have An Account</span>
              <a href="#" class="wm-green-link">Sign in</a>
            </p>
          </div>
        </div>

        <!-- Checkout form -->
        <form class="form checkout-form">

          <div class="row">
            <div class="col">
              <h4 class="form-subtitle">
                <img src="img/delivery.svg" width="24" height="21" alt="Delivery image">
                Delivery Method
              </h4>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <label>Delivery</label>

            <div class="checkbox-item">
              <label for="delivery-price"> $2.99</label>
              <span class="checkbox-container">
                <input id="delivery-price" type="checkbox">
                <label class="checkmark" for="delivery-price"></label>
              </span>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <label>Pick Up From Store</label>

            <div class="checkbox-item">
              <label for="free"> Free</label>
              <span class="checkbox-container">
                <input id="free" type="checkbox">
                 <label class="checkmark" for="free"></label>
              </span>
            </div>
          </div>

          <!-- Separator -->
          <div class="row">
            <div class="col">
              <h4 class="form-subtitle"></h4>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="deliveryDate">Delivery Date*</label>
              <input type="text" class="form-control" id="deliveryDate" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-group col-md-6">
              <label for="deliveryTime">Delivery Time*</label>
              <input type="text" class="form-control" id="deliveryTime" placeholder="Asap">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="message">Message Or Comments</label>
              <textarea class="form-control" id="message" rows="4"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h4 class="form-subtitle">
                <img src="img/person.svg" width="24" height="21" alt="Person image">
                Your Details
              </h4>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name*</label>
              <input type="text" class="form-control" id="firstName" placeholder="e.g John" required>
            </div>
            <div class="form-group col-md-6">
              <label for="secondName">Second Name*</label>
              <input type="text" class="form-control" id="secondName" placeholder="e.g Smith" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="emailAddress">Email Address*</label>
              <input type="email" class="form-control" id="emailAddress" placeholder="e.g John@email.com"
                     required>
            </div>
            <div class="form-group col-md-6">
              <label for="phoneNumber">Phone Number*</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="e.g 07987 55431" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="inputAddress">Address*</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="e.g 16 Muir Drive" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City*</label>
              <input type="text" class="form-control" id="city" placeholder="e.g Glasgow" required>
            </div>
            <div class="form-group col-md-6">
              <label for="country">Country*</label>
              <input type="text" class="form-control" id="country" placeholder="e.g Scotland" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="zipCode">Zip Code*</label>
              <input type="text" class="form-control" id="zipCode" placeholder="e.g 90210" required>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h4 class="form-subtitle">
                <img src="img/payment-details.svg" width="24" height="21" alt="Payment details image">
                Payment Details
              </h4>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="credit-card-info">
                <div class="credit-card-header">

                  <div class="radio">
                    <input type="radio" name="radio" id="creditCard" value="creditCard" checked>
                    <label for="creditCard"><span></span>Credit Card</label>
                  </div>

                  <img src="img/payment-card-icons@3x.png" alt="Credit Cards image"
                       srcset="img/payment-card-icons.png 1x, img/payment-card-icons@2x.png 2x, img/payment-card-icons@3x.png 3x">
                </div>

                <div class="form-row">
                  <div class="form-group col">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber" placeholder="•••• •••• •••• ••••" required>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="CVVCode">CVV Code</label>
                    <input type="text" class="form-control" id="CVVCode" placeholder="" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="text" class="form-control" id="expiryDate" placeholder="MM / YY" required>
                  </div>
                </div>

                <div class="credit-card-footer">
                  <div class="radio">
                    <input type="radio" name="radio" id="Paypal" value="Paypal">
                    <label for="Paypal"><span></span>Paypal</label>
                  </div>
                  <img src="img/paypal@3x.png" alt="Paypal image"
                          srcset="img/paypal.png 1x, img/paypal@2x.png 2x, img/paypal@3x.png 3x">
                </div>

              </div>
            </div>
          </div>

        </form>

      </div>

      <!-- Order form -->

      <aside class="col-lg-4 checkout-aside">
        <div class="card">
          <div class="card-header">
            <span>Your Order From</span>
            <h5>Name Of Supplier</h5>
          </div>
          <div class="product-option">
            <div class="row">
              <div class="col-lg-3 col-md-2 col-3">
                <img src="http://via.placeholder.com/52x52" alt="Product Image" width="52" height="52">
              </div>
              <div class="col-lg-9 col-md-10 col-9 name-product">
                <span class="h8">1 x Name Of Product</span>
                <span>Product Kind</span>
                <div class="selected-product">
                  <span>1/4 Gram</span>
                  <span class="product-price">$50</span>
                </div>


                <div class="quantity-product">
                  <a class="minus" onclick="minus()" title="Subtract">-</a>
                  <span class="quantity-number" id="display">2</span>
                  <a class="plus" onclick="plus()" title="Add">+</a>
                </div>

                <a class="remove" href="#" title="Remove">Remove</a>
              </div>
            </div>
          </div>
          <div class="discount-codes">
            <span class="title">Discount Codes</span>
            <span>Enter your coupon code</span>
            <div class="input-group">
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <button class="btn btn-success">Apply</button>
            </div>
          </div>
          <div class="card-footer">
            <table class="table">
              <tbody>
              <tr>
                <td>Subtotal</td>
                <td>$40</td>
              </tr>
              <tr>
                <td>VAT</td>
                <td>$10.00</td>
              </tr>
              <tr>
                <td><strong class="total">Total</strong></td>
                <td><strong>$50.00</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn btn-success btn-place-order">Place Oder $50.00</button>
      </aside>

    </div>
  </div>

</section>


{% endblock %}
