{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            
        </div>
        <aside class="col-lg-4 checkout-aside">
            <div class="card">
                <div class="card-header">
                    <span>Your Order From</span>
                    <h5>Name Of Supplier</h5>
                </div>
                <div class="product-option">
                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-3">
                            <img src="http://via.placeholder.com/52x52" alt="Product Image" width="52" height="52">
                        </div>
                        <div class="col-lg-9 col-md-10 col-9 name-product">
                            <span class="h8">1 x Name Of Product</span>
                            <span>Product Kind</span>
                            <div class="selected-product"> 
                                <span>1/4 Gram</span>
                                <span class="product-price">$50</span> 
                            </div>
                          
                         

                            <div class="quantity-product">
                              <a class="minus" onclick="minus()" title="Subtract">-</a>
                              <span class="quantity-number" id="display">2</span>
                              <a class="plus" onclick="plus()" title="Add">+</a>
                            </div>

                            <a class="remove" href="#" title="Remove">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="discount-codes">
                    <span class="title">Discount Codes</span>
                    <span>Enter your coupon code</span>
                    <div class="input-group">
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                      <button class="btn btn-success">Apply</button>
                    </div>
                </div>
                <div class="card-footer">
                    <table class="table">
                      <tbody>
                        <tr> 
                          <td>Subtotal</td>
                          <td>$40</td>
                        </tr>
                        <tr>
                          <td>VAT</td>
                          <td>$10.00</td>
                        </tr>
                        <tr>
                          <td><strong class="total">Total</strong></td>
                          <td><strong>$50.00</strong></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-success btn-place-order">Place Oder  $50.00</button>
        </aside>
    </div>
</div>


<script >

  var i = document.getElementById("display").innerHTML;

    function plus() {
        if (i < 9999) {
            i++;
        } else {
            i = 0;
        }
        document.getElementById("display").innerHTML = i;
    }

    function minus() {
        if (i > 0) {
            --i;
        } else if (i = 0) {
            i = 9999;
        }
        document.getElementById("display").innerHTML = i;
    }

</script>

{% endblock %}