{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="top-section">
  <div class="row">
    <div class="col text-center">
      <span class="btn btn-success btn-round">Contact Us</span>
      <h2>How Can We Help?</h2>
    </div>
  </div>

</section>

<section class="container">
  <div class="middle-section row">
    <div class="option-box active-box col-lg-3 col-md-6">
      <img src="img/contact-us-dont-arrived.svg" width="110" height="90" alt="box">
      <span class="d-block">My Order Hasn’t Arrived</span>
    </div>
    <div class="option-box col-lg-3 col-md-6">
      <img src="img/contact-us-wrong-arrived.svg" width="110" height="90" alt="box">
      <span class="d-block">My Order Arrived But Is Wrong</span>
    </div>
    <div class="option-box col-lg-3 col-md-6">
      <img src="img/contact-us-supplier-partner.svg" width="78" height="78" alt="box">
      <span class="d-block">Join As A Supplier Partner</span>
    </div>
    <div class="option-box col-lg-3 col-md-6">
      <img src="img/contact-us-other.svg" width="85" height="84" alt="box">
      <span class="d-block">I Need To Talk About Somthing Else</span>
    </div>
  </div>

  <div class=" bottom-section">
    <h6 class="title">Please provide us a few order details.</h6>

    <form class="form contact-form">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name*</label>
          <input type="text" class="form-control" id="firstName" placeholder="e.g John" required>
        </div>
        <div class="form-group col-md-6">
          <label for="secondName">Second Name*</label>
          <input type="text" class="form-control" id="secondName" placeholder="e.g Smith" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="emailAddress">Email Address*</label>
          <input type="email" class="form-control" id="emailAddress" placeholder="e.g John@email.com"
                 required>
        </div>
        <div class="form-group col-md-6">
          <label for="phoneNumber">Phone Number*</label>
          <input type="text" class="form-control" id="phoneNumber" placeholder="e.g 07987 55431" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="inputAddress">Address*</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="e.g 16 Muir Drive" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="orderId">Order ID*</label>
          <input type="text" class="form-control" id="orderId" placeholder="e.g 0009887654AS" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="textArea">Tell Us A Bit ABout The Problem</label>
          <textarea class="form-control" id="textArea" rows="6"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-7">
          <button type="submit" class="btn btn-success btn-md btn-block">Submit</button>
        </div>
      </div>


    </form>

</section>


{% endblock %}