{% set withoutShadow = true %}
{% set homePageHeader = true %}

{% extends "layouts/template-logged-off.html" %}

{% block pageContent %}

<section class="home-search-section">
	<div class="container">
		<div class="row align-items-center search-section">
			<div class="col-8 col-lg-7 position-static">
				<h2>Find Dispensaries & Delivery Services near you!</h2>

        <form method="GET">
					<div class="input-group input-group-search-lg">
						<input type="text" class="form-control form-control-lg" placeholder="Enter Address, City, Zip Code…"
									 aria-label="Enter Address, City, Zip Code…">
						<span class="input-group-addon">
              <a href="#" title="My location">
                <i class="material-icons">my_location</i>
              </a>
            </span>
						<div class="input-group-append">
              <button class="btn btn-lg btn-success" type="submit">
                <span class="d-none d-lg-block">Search</span>
                <i class="material-icons">search</i>
              </button>
            </div>

					</div>
				</form>
			</div>

      <div class="col-4 col-lg-5 text-lg-right">
				<img src="img/cannabis-consulting-img@3x.png" class="img-fluid" title="Cannabis image" alt="Cannabis image"
						 srcset="img/cannabis-consulting-img.png 1x,
                     img/cannabis-consulting-img@2x.png 2x,
                     img/cannabis-consulting-img@3x.png 3x">
			</div>
		</div>
	</div>
</section>


<section class="home-how-it-work">
	<div class="container">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-12 col-lg-6">
							<h3 class="text-carousel-title">How It Works</h3>
							<h2 class="h2-brand">
								1. Search Your Location See Local Providers & Products
							</h2>
						</div>
						<div class="col-12 col-lg-6 text-lg-right">
							<img src="img/how-it-works-1.png" class="img-fluid" title="Weedmenu mobile app" alt="Weedmenu mobile app">
						</div>
					</div>
				</div>

				<div class="carousel-item">
					<div class="row">
						<div class="col-12 col-lg-6">
							<h3 class="text-carousel-title">How It Works</h3>
							<h2 class="h2-brand">
								2. Search Your Location See Local Providers & Products
							</h2>
						</div>
						<div class="col-12 col-lg-6 text-lg-right">
							<img src="img/how-it-works-2.png" class="img-fluid" title="Weedmenu mobile app" alt="Weedmenu mobile app">
						</div>
					</div>
				</div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-12 col-lg-6">
              <h3 class="text-carousel-title">How It Works</h3>
              <h2 class="h2-brand">
                3. Search Your Location See Local Providers & Products
              </h2>
            </div>
            <div class="col-12 col-lg-6 text-lg-right">
              <img src="img/how-it-works-3.png" class="img-fluid" title="Weedmenu mobile app" alt="Weedmenu mobile app">
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="home-supplier-carousel">
	<h3 class="text-center">Featured Merchants</h3>

	<div class="owl-carousel owl-theme">

		{% for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
			<div class="item">
				<div class="card supplier-carousel-card">
					<div class="mask">
						<img src="img/supplier-carousel/featured-bg1@3x.png" alt="Merchant background image"
								 srcset="img/supplier-carousel/featured-bg1.png 1x,
											 img/supplier-carousel/featured-bg1@2x.png 2x,
											 img/supplier-carousel/featured-bg1@3x.png 3x">
					</div>

					<!-- Merchant Logo image -->
					<img src="http://via.placeholder.com/89x89" class="card-logo" width="89" height="89" alt="Merchant Logo image">
					<!-- Card body -->
					<div class="card-body">
						<h5 class="card-title">Name Of Supplier #{{i}}</h5>
						<span class="rate-star">
							<img src="img/star.svg" class="star" width="15.4" height="14.8" alt="star">
							<img src="img/star.svg" class="star" width="15.4" height="14.8" alt="star">
							<img src="img/star.svg" class="star" width="15.4" height="14.8" alt="star">
							<img src="img/star.svg" class="star" width="15.4" height="14.8" alt="star">
							<img src="img/star-inactive.svg" class="star" width="15.4" height="14.8" alt="star">
						</span>
						<a href="#" class="rate-reviews" title="Reviews">(19 Reviews)</a>
					</div>
					<!-- Card footer -->
					<div class="card-footer">
						<p>Address Goes In This Space</p>
						<p>And Over 2 Lines</p>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
</section>

<section class="home-download-section">
	<div class="container">
		<div class="row align-items-center">
      <div class="col-6 col-lg-7">
				<div class="logo-download-section">
          <img class="img-fluid" src="img/weedmenu-logo@3x.png" alt="Weedmenu Logo" width="83" height="57" title="Weedmenu Logo"
							 srcset="img/weedmenu-logo.png 1x,
                        img/weedmenu-logo@2x.png 2x,
                        img/weedmenu-logo@3x.png 3x">
				</div>
				<div class="text-download-section">
					<h2 class="h2-general">Download Our App &&nbsp;Order With A Tap</h2>
				</div>
				<div class="link-download">
					<a href="#" title="Download from App Store">
						<img src="img/download-app-store-btn@3x.png" alt="App Store badge"
								 title="Download application from app store"
								 width="134" height="40"
								 srcset="img/download-app-store-btn.png 1x, img/download-app-store-btn@2x.png 2x, img/download-app-store-btn@3x.png 3x">
					</a>
					<a href="#" title="Download from Google Play">
						<img src="img/download-google-play-btn@3x.png" alt="Google Play badge"
								 title="Download application from Google Play"
								 width="134" height="40"
								 srcset="img/download-google-play-btn.png 1x, img/download-google-play-btn@2x.png 2x, img/download-google-play-btn@3x.png 3x">
					</a>
				</div>
			</div>

      <div class="col-5  col-lg-5">
				<img src="img/iphone-img@3x.png" width="268" height="544" class="img-fluid" alt="Iphone image"
						 srcset="img/iphone-img.png 1x,
                     img/iphone-img@2x.png 2x,
                     img/iphone-img@3x.png 3x">
			</div>
		</div>
	</div>
</section>


{% endblock %}
