{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="my_details">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4">My Details</h2>
                        </div>
                    </div>
                    <div class="section_your_details p-3">
                        <div class="row row_your_details mb-4">
                            <div class="col-md-12">
                                <h6 class="pt-2 pb-4">Your details</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form form-row">
                                    <div class="form-group col-md-6">
                                        <label for="deliveryDate">Supplier Name</label>
                                        <input type="text" class="form-control" id="deliveryDate" placeholder="12071690">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="deliveryTime">Admin Name</label>
                                        <input type="text" class="form-control" id="deliveryTime" placeholder="Name here">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form form-row">
                                    <div class="form-group col-md-6">
                                        <label for="deliveryDate">Email adaress</label>
                                        <input type="text" class="form-control" id="deliveryDate" placeholder="12071690">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="deliveryTime">Phone number</label>
                                        <input type="text" class="form-control" id="deliveryTime" placeholder="Name here">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form form-row">
                                    <div class="form-group col-md-12">
                                        <label for="deliveryDate">Address</label>
                                        <input type="text" class="form-control" id="deliveryDate" placeholder="12071690">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form form-row">
                                    <div class="form-group col-md-6">
                                        <label for="deliveryDate">City</label>
                                        <input type="text" class="form-control" id="deliveryDate" placeholder="12071690">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="deliveryTime">Zip Code</label>
                                        <input type="text" class="form-control" id="deliveryTime" placeholder="Name here">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form">
                            <div class="form-group col">
                              <label for="message">Discription</label>
                              <textarea class="form-control" id="message" rows="4" placeholder="Example text"></textarea>
                            </div>
                          </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <span class="span_above_section ">repeat the above section as needed for file uploads</span>
                        </div>
                    </div>
                    
                    <div class="section_license p-3 mt-4">
                        <div class="row row_license mb-4">
                            <div class="col-md-12">
                                <h6 class="pt-2 pb-4">Cannabis Bisiness License</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="profile_picture picture_your_details">
                                    <div class="media">
                                        <a href="#" class="mr-3 link_img_media pt-2"><img src="/static/source/img/product-weed.png"></a>
                                        <div class="media-body">
                                            <h6 class="mt-1 mb-2">License Upload</h6>
                                            <span class="pt-2">Uploaded file name here.jpeg</span>
                                            <a class="mt-2" href="">UPLOAD NEW FILE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form form-row">
                                    <div class="form-group col-md-12 pt-1">
                                        <label for="license_number">License Number</label>
                                        <input type="text" class="form-control" id="license_number" placeholder="12071690">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_order-details p-3 mt-5">
                        <div class="row row_order-details mb-4">
                            <div class="col-md-12">
                                <h6 class="pt-2 pb-4">Order details</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form form-row">
                                    <div class="form-group col-md-6">
                                        <label for="deliveryDate">Minimum Order</label>
                                        <input type="text" class="form-control" id="deliveryDate" placeholder="12071690">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="deliveryTime" class="">Order Types</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="delivery" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="delivery"></label>
                                          </span>
                                            <label for="delivery" class="label-delivery"> Delivery</label>
                                            
                                            <span class="checkbox-container ml-3">
                                            <input id="pick_up" type="checkbox">
                                            <label class="checkmark checkmark_your_details" for="pick_up"></label>
                                          </span>
                                            <label for="pick_up" class="label-delivery"> Pick Up</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form form-row">
                                    <div class="form-group col-md-6">
                                        <label for="deliveryDate">Deliver Fee</label>
                                        <input type="text" class="form-control" id="deliveryDate" placeholder="12071690">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="miles">Delivery Distance</label>
                                        
                                        <select type="text" class="form-control select_miles" id="miles" >
                                            <option>20 Miles</option>
                                            <option>30 Miles</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_opening_hours p-3 mt-5">
                        <div class="row row_opening_hours mb-4">
                            <div class="col-md-12">
                                <h6 class="pt-2 pb-3">Opening Hours</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="monday" class="">Open Monday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="monday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="monday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="tuesday" class="">Open Tuesday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="tuesday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="tuesday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="wednesday" class="">Open Wednesday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="wednesday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="wednesday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="thursday" class="">Open Thursday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="thursday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="thursday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="friday" class="">Open Friday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="friday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="friday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="saturday" class="">Open Saturday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="saturday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="saturday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <div class="form-group d-flex justify-content-between align-items-center day_week">
                                        <label for="sunday" class="">Open Sunday</label>
                                        <div class="order-type">
                                          <span class="checkbox-container ">
                                            <input id="sunday" type="checkbox" checked>
                                            <label class="checkmark checkmark_your_details" for="sunday"></label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open From</label>
                                    <input type="text" class="form-control input_monday" id="op_fr_1" placeholder="10am">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-between align-items-center day_week">
                                    <label for="op_fr_1" class="">Open To</label>
                                    <select type="text" class="form-control select_miles" id="miles" >
                                            <option>8 pm</option>
                                            <option>9 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-place-order btn_save_update mt-4 mb-5">Save Updates</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
