{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="supplier-map-section">
  <h2>Map here</h2>
</section>

<section class="tabs-section-navigation">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <!-- Tabs navigation -->
        <ul class="nav nav-tabs" id="suppliersMenuTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="productMenu-tab" data-toggle="tab" href="#productMenu" role="tab" aria-controls="productMenu" aria-selected="true">Product Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="photos&videos-tab" data-toggle="tab" href="#photos&videos" role="tab" aria-controls="photos&videos" aria-selected="true">Photos & Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="specialOffers-tab" data-toggle="tab" href="#specialOffers" role="tab" aria-controls="specialOffers" aria-selected="true">Special Offers</a>
          </li>
        </ul>
      </div>

      <div class="col-2 text-right">
        <div class="dropdown dropdown-more">
          <a href="#" class="dropdown-toggle" id="minimumDelivery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <ul class="dropdown-menu" aria-labelledby="minimumDelivery">
            <li class="dropdown-item" href="#">
              Showing
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="tabs-section-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Tabs content -->
        <div class="tab-content" id="suppliersMenuTabContent">
          <div class="tab-pane fade show active" id="productMenu" role="tabpanel" aria-labelledby="productMenu-tab">
            <div class="row">

              <div class="col-sm-4">
                <h4 class="text-14 brand d-flex align-items-center mr-tr-39">
                  <img src="img/filters.svg" width="18" height="18" alt="Filters">
                  <span class="ml-3">Filter products</span>
                </h4>
              </div>

              <div class="col-sm-8">
                <div class="row no-gutters mr-tr-39">
                  <div class="col">
                    <p class="text-14-bold">78 Products Found</p>
                  </div>
                  <div class="col d-flex align-items-center">
                    <label class="text-14-bold mb-0 mr-4">Sort By</label>
                    <div class="dropdown flex-1 sort-dropdown">
                      <a href="#" class="dropdown-toggle" id="sortSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Most Popular
                      </a>
                      <ul class="dropdown-menu w-100" aria-labelledby="sortSearch">
                        <li class="dropdown-item pointer" href="#">Most Popular</li>
                        <li class="dropdown-item pointer" href="#">By Category</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/8</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/4</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/2</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1G</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 2G</li>
                      </ul>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">...</div>

          <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

            <section class="reviews-section" id="reviews">
              <h3 class="h7">“Name Of Supplier” Reviews</h3>
              
              <span class="rate-star">
                <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                <span class="rate-review" title="Reviews">(19 Reviews)</span>
              </span>

              <div class="comment-block">
                <div class="comment-rate">
                  <span class="rate-star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                  </span>
                  <span>3 Days Ago</span>
                </div>

                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore”</p>

                <div class="autor-info">
                  <img src="http://via.placeholder.com/36x36" alt="User photo">
                  <span>Kevin</span>
                </div>
              </div>

              <div class="comment-block"> 
                <div class="comment-rate">
                  <span class="rate-star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                  </span>
                  <span>3 Days Ago</span>
                </div>

                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore”</p>

                <div class="autor-info">
                  <img src="http://via.placeholder.com/36x36" alt="User photo">
                  <span>Kevin</span>
                </div>
              </div>

              <div class="comment-block">
                <div class="comment-rate">
                  <span class="rate-star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                    <img src="img/star.svg" class="star star-active" width="19" height="19" alt="star">
                  </span>
                  <span>3 Days Ago</span>
                </div>

                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore”</p>

                <div class="autor-info">
                  <img src="http://via.placeholder.com/36x36" alt="User photo">
                  <span>Kevin</span>
                </div>
              </div>
            </section>

          <div class="tab-pane fade" id="photos&videos" role="tabpanel" aria-labelledby="photos&videos-tab">...</div>
          <div class="tab-pane fade" id="specialOffers" role="tabpanel" aria-labelledby="specialOffers-tab">...</div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}