{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section>
  <div class="card supplier-map-card">
    <div class="card-body">

      <div class="supplier-description-content">
        <div class="card-image">
          <img src="http://via.placeholder.com/104x104" alt="Supplier logo">
        </div>

        <div class="supplier-description">
          <h3 class="card-description-title">Name Of Supplier</h3>

          <span class="rate-star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star-inactive.svg" class="star" alt="Star">
            <a href="#" class="rate-review" title="Reviews">(19)</a>
          </span>

          <div class="location-section">
            <span class="location-icon">
              <i class="material-icons">location_on</i>
            </span>

            <span class="location-supplier">
              <address>Address Goes In This Space And Over 2 Lines - </address>
              <span class="text-14-bold">1.9 Miles</span>
            </span>
          </div>

        </div>
      </div>

      <div class="working-time">
        <img src="img/open-time.svg">
        <span>Open Now</span>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <td class="border-top-0">Minimum Order</td>
            <td class="border-top-0">$0</td>
          </tr>
          <tr>
            <td>Delivery</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Delivery Fee</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Delivery Distance</td>
            <td>50m</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</section>



{% endblock %}
